**/__pycache__
**/env*
!**/migrations/env.py
files
.idea
**/endpoints.*
**/.local
rp
**/*.db
**/*.coverage
ssl/*.pem
tests/generated/*.py
**/coverage.xml
**/tests/files
**/tests/api/files
**/settings*_prod.py
**/other/ip_database.mmdb.old
**/migrations*
**/migrations
**/tests
**/.github